#game {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.man {
    width: 30px;
    height: 30px;
}

.load {

}

article {
    visibility: visible;
}

#p-ava {
    position: absolute;
    width: 100%;
    height: 100%;
}